<% if notice or alert %>
  <div class="row">
    <div class="alert alert-<%= notice ? "success":"danger" %> alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= notice ? notice : alert %></strong>
    </div>
  </div>
<% end %>
