<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.ntnu.bitcoupon"
        >

    <application
            android:allowBackup="true"
            android:name=".BitCouponApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
        <activity
                android:name=".activities.MainActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="65f2698349aa0e9cb173ffc039ae0563dbb9f861"/>


    </application>

    <!-- Needed in order to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
