<div class="row">
  <%= bootstrap_form_for([:admin, @coupon],
                         layout: :horizontal,
                         label_col: "col-md-2",
                         control_col: "col-md-6") do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :description %>

    <%= f.submit nil, class: "btn btn-success col-md-4" %>
  <% end %>
</div>
