<% @result.coupons.each do |coupon| %>
  <% @coupon = coupon %>
  <%= render 'coupon', locals: { coupon: @coupon } %>
<% end %>

<% content_for :sidebar do %>
  <h1>ADMIN</h1>
  <p><%= @result.pubkey_json %></p>
  <p><%= @result.pubkey_header %></p>
<% end %>
