<div class="row">
  <%= bootstrap_form_for(@user,
                         layout: :horizontal,
                         label_col: "col-md-2",
                         control_col: "col-md-6") do |f| %>
    <%= f.text_field :email %>
    <%= f.text_field :password %>

    <%= f.submit nil, class: "btn btn-success col-md-4" %>
  <% end %>
</div>
